.counter {
    border: 2px solid rgb(0, 255, 221);
    border-radius: 5px;
    padding: 5px;
    width: 15%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(42, 44, 44);
}

.display {
    border: 1px solid rgb(0, 255, 221);
    border-radius: 5px;
    width: 100%;
    font-size: 32px;
    text-align: center;
    color: rgb(0, 255, 221);
    margin: 5px;
}

.btns {
    border: 1px solid rgb(0, 255, 221);
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}

.counterbtn {
    color: #000;
    background-color: rgb(0, 255, 221);
    margin: 5px;
}

